.bg-image {
    
    position: relative;

    &__background {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: right;
    
        @include media-breakpoint-between(md, xl) {
            background-position: 85% right;
        }

        &--2 {
            background-position: top;
            height: 90vh;
            z-index: -2;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
    }

}